<div class="modal fade correction-window">
    <div class="modal-dialog">
        <div ng-if="actionModel=='add'" add-new-form class="modal-content"></div><!-- /.modal-content -->
        <div ng-if="actionModel=='change'" change-category-form class="modal-content"></div><!-- /.modal-content -->
        <div ng-if="actionModel=='remove'" remove-category-form class="modal-content"></div><!-- /.modal-content -->
        <div ng-if="actionModel=='categorySettings'" category-settings-view class="modal-content"></div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->