<div class="container">
        <div class="row text-center pad-top ">
            <div class="col-md-12">
                <h2>Реєстрація</h2>
            </div>
        </div>
         <div class="row  pad-top"> 
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                <strong>   Зареєструйте себе </strong>  
                    </div>
                    <div class="panel-body">
                        <form name="userForm" ng-submit="submitForm()" novalidate>
<br/>
                            <div class="form-group input-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                                <span class="input-group-addon"></span>
                                <input type="text" name="username" class="form-control" ng-model="user.name" placeholder="Ім’я" ng-minlength="3" ng-maxlength="15" required/>                                            
                            </div>
                            <p style="color:#a94442" ng-show="userForm.username.$error.minlength" class="help-block">* Ім’я занадто коротке</p>
                            <p ng-show="userForm.username.$error.required && !userForm.username.$pristine" class="help-block">Ім’я - обов’язкове поле</p>

                            <div class="form-group input-group" ng-class="{ 'has-error' : userForm.last.$invalid && !userForm.last.$pristine }">
                               <span class="input-group-addon"></span>
                               <input name="last" type="text" class="form-control" ng-model="user.last" placeholder="Прізвище" ng-minlength="3" ng-maxlength="15" required />
                            </div>
                            <p ng-show="userForm.last.$error.minlength" class="help-block">Прізвище занадто коротке</p>
                            <p ng-show="userForm.last.$error.required && !userForm.last.$pristine" class="help-block">Прізвище - обов’язкове поле</p>

                            <div class="form-group input-group">
                                <span class="input-group-addon"></span>
                                <input type="mail" class="form-control" ng-model="user.email" placeholder="Email" />
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"></span>
                                <input type="password" class="form-control" ng-model="user.password" placeholder="Пароль" />
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"></span>
                                <input type="password" class="form-control" ng-model="user.password2" placeholder="Пароль ще раз" />
                            </div>
                             
                            <input type='submit' class="btn btn-success" value="Зареєструватись">
                            <hr />
                            Вже зареєстровані ?  <a href="#login" >Вхід</a>
                        </form>
                    </div>
                   
                </div>
            </div>   
        </div>
    </div>