.x-panel-default .x-panel-body-default,
.x-window-default .x-window-body-default{
    /*opacity: 0.8;*/
    border-radius: 4px;
}

.CategoriesPanel{
	background-color: grey;
}
.items-grid .x-grid-cell-inner{
    height      :70px;
}
.items-grid .x-grid-cell-inner .items-name-value{
    position    : absolute;
    margin      : 20px 0 0 20px;
    padding     : 10px 5px;
    font-size   : 16px;
    text-align  : center;
}
.items-grid .change-items-wrap{
    height      : 100%;
    padding     : 30px 0 0 10px;
    overflow    : hidden;
}
.items-grid .change-items-wrap:hover{
    color:#000000;
}
.items-icon-cls{
    height      : 50px;
    width       : 50px;
    margin      : 10px 0 0 10px;
    position    : absolute;
    border-radius: 6px;
}
.items-icon-cls:hover{
    opacity: 0.6;
}
.items-icon-cls.no-item{
    background-color: grey;
    opacity: 0.3;
    border-radius: 6px;
    line-height: 40px;
    font-size: 50px;
    padding: 0 8px;
}
.items-icon-cls.no-item:hover{
    opacity: 0.6;
}
.detailsDiv{
    /*height: 400px;*/
}