.CategoriesPanel{
	background-color: grey;
}
.items-grid .x-grid-cell-inner{
    height      :140px;
}
.items-grid .x-grid-cell-inner .items-name-value{
    position    : absolute;
    margin      : 20px 0 0 20px;
}
.items-grid .change-items-wrap{
    height:100%;
}
.items-icon-cls{
    height      : 100px;
    width       : 100px;
    margin      : 20px 0 0 20px;
    position    : absolute;
    border-radius: 6px;
}
.items-icon-cls.no-item{
    background-color: grey;
    opacity: 0.3;
    border-radius: 6px;
    line-height: 80px;
    font-size: 100px;
    padding: 0 14px;
}
.items-icon-cls.no-item:hover{
    opacity: 0.6;
}